.profile-container {
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  
  .rocket-column {
    width: 45%;
  }
  
  .rocket-column h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  .rocket-column ul {
    list-style-type: none;
    border-radius: 7px;
    border: 0.5px solid rgb(72, 72, 72);
  }
  
  .rocket-column ul li {
    padding: 10px 0 10px 20px;
    border-bottom: 0.5px solid rgb(72, 72, 72);
    font-size: 1.2rem;
    font-weight: 400;
    padding: 20px;
  }
  
  .rocket-column ul li:last-child {
      border: none;
  }