.profile-container {
  display: flex;
  justify-content: space-around;
  width: 92%;
  margin: 4% auto;
}

.title {
  margin-bottom: 20px;
  font-size: 1.8rem;
  font-weight: 500;
}

.rocket-container {
  margin: 20px;
  width: 50%;
}

.rockets-list {
  width: 100%;
  border-radius: 7px;
  border: 0.5px solid rgb(72, 72, 72);
  list-style: none;
}

.rocket {
  border-bottom: 0.5px solid rgb(72, 72, 72);
  padding: 20px;
  font-size: 1.2rem;
  font-weight: 400;
}

.rocket:last-child {
  border: none;
}
